<%= render "shared/header" %>
<%= render "shared/second_header" %>

<div class="container">
  <div class="contents">
  <section id="new" class="box1">
  <h2><span>使用例①</span></h2>
    
  </section>
  <!--/#new-->

  <section class="box1">

  <h2><span>使用例②</span></h2>

  </section>

  </div>
<!--/#contents-->
<%= render "shared/footer" %>
</div>
<!--/#container-->