@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	color: #fff;	/*全体の文字色*/
	font-family: "M PLUS Rounded 1c", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 15px;		/*文字サイズ*/
	line-height: 2.5;		/*行間*/
	background: #eb7d5c;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #fff;		/*リンクテキストの色*/
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: #ffbb05;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*コンテナー（サイト全体を囲むブロック）
---------------------------------------------------------------------------*/
#container {
	max-width: 1400px;	/*最大幅。これ以上広くならない指定。*/
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニューブロック全体への指定*/
#menubar {
	line-height: 2;
	text-align: center;
	font-size: 18px;	/*文字サイズ*/	
}
/*メニュー１個あたりの指定*/
#menubar li {
	display: inline-block;	/*横並びにする指定*/
	margin: 0px 5px;			/*上下、左右へのメニューの外側にとる余白*/
}
#menubar li a {
	text-decoration: none;display: block;
	padding: 0px 20px;	/*上下、左右へのメニューの内側にとる余白*/
}
/*現在表示中(current)と、マウスオン時の指定*/
#menubar li.current a, #menubar li a:hover {
	background: #fff;	/*背景色*/
	color: #b30f0f;			/*文字色*/
	border-radius: 100px;	/*角丸のサイズ。大きめであれば適当で構いません。この１行を削除すると、長方形になります。*/
}

/*option1（productページのブロックの右上に斜めに配置している帯）
---------------------------------------------------------------------------*/
.option1 {
	text-align: center;display: block;
	width: 300px;		/*幅*/
	position: absolute;
	right: 0px;	/*ボックスに対して右から0pxの場所に配置*/
	top: 0px;	/*ボックスに対して上から0pxの場所に配置*/
	transform: rotate(45deg) translate(93px,-45px);	/*45度回転。右へ,下へ(マイナス設定なので上へ向けての指定)の移動距離*/
	background: #b30f0f;	/*背景色*/
	color: #fff;			/*文字色*/
	letter-spacing: 0.1em;	/*文字間隔をほんの少し広くとる*/
	box-shadow: -3px 3px 10px rgba(0,0,0,0.15);	/*ボックスの影。右へ、下へ、ぼかし幅、0.15は色が15%出た状態の事。*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	padding: 10px;
	font-size: 90%;
}
footer a {text-decoration: none;}
footer a:hover {color: #545454;}
footer .pr {display: block;}

/*box1指定（角丸のボックス）
---------------------------------------------------------------------------*/
.box1,.box2 {
	overflow: hidden;
	border-radius: 30px;	/*角丸のサイズ。この１行を削除すると、通常の長方形になります。*/
	background: #fff;		/*背景色*/
	color: #545454;			/*文字色*/
}

/*マウスオン時*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #fff;	/*背景色*/
	border: 1px dashed #d33737;			/*枠線の幅、線種、色*/
}

/*画面幅600px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:600px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;
	font-size: 2.93vw;
}

/*box1指定（角丸のボックス）
---------------------------------------------------------------------------*/
.box1,.box2 {
	padding: 10px 20px;		/*上下、左右へのボックス内の余白*/
	border-radius: 20px;	/*角丸のサイズ*/
}

}
