<header>
  <img src="assets/TimeCapsule.jpg" alt="SAMPLE COMPANY">
  
  <nav id="menubar">
  <ul>
    <li class="current"><a href="index.html">Home</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="product.html">Product</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
  </nav>
</header>