.content-user {
  display:flex;
  align-items:center;
  flex-direction:column;
}

.user {
  margin-top: 4vw;
  font-size: 6vh;
}

.contents-user {
  margin: 5vw 2.5vw;
  background-color: whitesmoke;
  color: black;
  width: 70%;
}

.content-top {
  display: flex;
  padding-left: 5vw;
}

.element {
  width: 50%;
  color:black;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  height: auto;
}

.content-row img {
  padding: 1vw 0;
}

.video {
  width: 100%;
  background-size: cover;
}

.content-row video {
  padding: 1vw 0;
}